<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cheapeatsuoa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CheapEatsUoA">
        <activity android:name=".OffCampusActivity">
            android:label = "Off Campus Activity"
            android:theme = "@style/Theme.CheapEatsUoA.OffCampusActivity"
        </activity>
        <activity android:name=".GraftonActivity" >
            android:label = "Grafton Activity"
            android:theme = "@style/Theme.CheapEatsUoA.GraftonActivity"
        </activity>
        <activity android:name=".CityActivity" >
        android:label = "City Activity"
        android:theme = "@style/Theme.CheapEatsUoA.CityActivity"
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>